/*For computer view*/

html {
  scroll-behavior: smooth;
}

a {
outline:none;
color: inherit;
}

button {
outline:none;
}

p{
  font-size: 13px
}

#bouton1{
  background: #eee !important; 
  color: #666; 
  border: solid 1px #ccc; 
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px !important;
  transition: all .1s;
}

#bouton1, #bouton2:hover{
  opacity: 0.8;
}

#bouton1, #bouton2:active{
  opacity: 1
}

#bouton2{
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 50px;
  margin-right: 50px;
  background: #00b0f0; 
  color: #fff; 
  border: none; 
  border-radius: 100%; 
  height: 60px; 
  width: 60px;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.3); 
  transition: all .1s;
}

#mylink{
  transition: all .1s;
}

#mylink:hover{
  opacity: 0.8;
}

#mylink:active{
  opacity: 1
}

#boutonPhoto{
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 100%;
  background: #00b0f0;
  color: #ddd;
  font-size: 20px;
  margin-top: 120px;
  margin-left: -60px;
}

.pushlink{
  cursor: pointer;
  transition: all .1s;
}

.pushlink:hover{
  opacity: 0.8;
}

.pushlink:active{
  transform: scale(0.9);
}

#badgeTypeAvatar{
  height: 130px;
  width: 130px;
  border-radius: 100%;
  background: none;
  border: solid 2px #fee29a;
  
}

#cvcont{
  min-height: 500px; 
  margin-top: 70px; 
  margin-bottom: 70px; 
  background: #e9e7db; 
  border-radius: 5px;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.3); 
}

#titre1{
  font-weight: bold; 
  background: #de4d4a; 
  color: #fff; 
  padding-top: 13px; 
  padding-bottom: 12px; 
  text-align: center; 
  border-radius: 0px 100px 0px 0px;
  margin-left: -30px;
  width: 95%;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.3); 
}

#badgeType1{
  background: none;
  border: none; 
  border-radius: 0%;
  height: 40px;
  width: 40px;
  float: left;
  color: #fff;
  font-size: 20px;
  padding-top: 7px;
  padding-left: 8px;
  text-align: center;
}

#badgeType2{
  height: 16px;
  width: 16px; 
  padding: 0;
  border: solid 2px #aaa;
  background: #eee;
  border-radius: 0%; 
}

#badgeType3{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 11px;
  z-index: 999;
  height: 10px;
  width: 10px; 
  padding: 0;
  border: solid 2px #de4d4a;
  background: #de4d4a;
  border-radius: 0%; 
}

.skill_progress {
    width: 98%;
    height: 10px;
    background: gray;
    position: relative;
    
}
.skill_name { 
   color: #fff;
    width: 100%;
    text-align: left;
    
  }
  
  .skill_progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #de4d4a;
  }
  
#lenom{
  text-transform: uppercase;
}


@media only screen and (min-width : 100px) and (max-width : 1199px) {
  .mob1{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0% !important
  }

  .mob2{
    text-align: center !important
  }

  .mob3{
    padding-top: 20px !important
  }

  .mob4{
    border-radius: 0% !important;
    margin-top: 30px !important;
  }

  #titre1{
    border-radius: 30px !important;
    margin-left: 0 !important;
    width: 100% !important;
  }

  .mob5{
    display: none !important
  }

  .mob6{
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 50px !important
  }

  .mob7{
    width: 95% !important
  }

  .mob8{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0% !important
  }

  .mob9{
    display: block !important;
  }

  .mob10{
    width: 100% !important
  }

  .mob11{
    display: none !important;
  }

  .mob12{
    margin-top: 100px !important
  }

  .mob13{
    text-align: center!important;
    margin-top: 30px !important
  }

  .mob14{
    z-index: 999 !important;
  }

  .mob15{
    margin-top: -30px !important
  }

  .mob16{
    float: none !important;
    margin-left: 20px !important;
  }

  .mob17{
    margin-top: 5px !important
  }

  #bouton2{
    margin-bottom: 10px !important;
    margin-right: 10px !important
  }

  
}